html {
  font-size: 100%;
}

body {
  font-family: $font-family;
  font-size: $font-size-base;
  line-height: 1.4;
  color: $color-text;
}

h1,
h2,
h3 {
  font-weight: $font-weight-bold;
}

a {
  position: relative;
  font-weight: $font-weight-bold;
  text-decoration: none;
  color: $color-text-dark;

  &::before {
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 2px;
    background: currentColor;
    content: "";
    transform-origin: left;
    transition: 0.3s opacity ease;
  }

  &:hover::before {
    opacity: 1;
  }

  &:focus {
    outline: none;
    color: $color-text-light;
    background: $color-text-dark;
  }
}
