@import "libs/susy/susy";

$susy: (
  columns: 12,
  gutters: 1/4,
);

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.Grid {
  @include clearfix();
  margin-left: -(gutter());
  margin-right: -(gutter());
}

.Grid-span {
  float: left;
  padding-left: gutter();
  padding-right: gutter();
}

.Grid-span--6 {
  width: span(6);
}
