/**
 * section
 */
@mixin section() {
  margin-top: $section-vertical-spacing;
  margin-bottom: $section-vertical-spacing;
}

/**
 * font-size
 * @param  {int|list} $font-size - Font size integer or list with line-height.
 */
@mixin font-size($font-size) {
  @if type-of($font-size) == "list" {
    font-size: nth($font-size, 1);
    @if (length($font-size) > 1) {
      line-height: nth($font-size, 2);
    }
  }
  @else {
    font-size: $font-size;
  }
}
