/**
 * Colors
 */
$color-white: #fff;
$color-black: #252728;
$color-grey: #797979;
$color-accent: #22c9c3;
$color-text: $color-grey;
$color-text-dark: $color-black;

/**
 * Structural
 */
$section-vertical-spacing: rem(48px);
