/**
 * Typograhic Variables
 * @type {String}
 */
$font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

$font-size-small: 0.875rem, 1.25; /* 14px */
$font-size-normal: 1.125rem, 1.4; /* 18px */
$font-size-medium: 1.25rem, 1.25; /* 20px */
$font-size-large: 1.5rem, 1.25; /* 24px */

$font-size-heading1: $font-size-large;

$font-weight-regular: normal;
$font-weight-bold: bold;
