@use 'sass:meta';
@use 'sass:list';

@mixin font-size($font-size) {
  @if meta.type-of($font-size) == "list" {
    font-size: list.nth($font-size, 1);

    @if (list.length($font-size) > 1) {
      line-height: list.nth($font-size, 2);
    }
  }

  @else {
    font-size: $font-size;
  }
}
