@import '../css/variables';
@import '../css/utilities';

.root {
  flex-shrink: 0;
  max-width: rem(490px);
  padding: rem(20px);

  @media (min-width: $breakpoint) {
    max-width: rem(570px);
    padding: rem(60px);
  }
}

.profile {
  margin-bottom: rem(48px);
}
