@import '../css/variables';
@import '../css/utilities';
@import '../css/mixins';

.root {
  display: flex;
  flex-direction: column;
  min-height: rem(120px);
  padding-top: 0;
  position: relative;

  &::before,
  &::after {
    animation: 1s ease 1 socialStream both;
    background: $color-border;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: 0;
    width: 100%;
    will-change: transform;
  }

  &::before,
  &::after {
    display: none;
  }

  @media (min-width: $breakpoint) {
    flex-basis: rem(640px);
    max-width: 100%;
    padding-top: rem(60px);

    &::before,
    &::after {
      display: block;
      height: 100%;
      width: 1px;
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }
  }

  &.is-loading {
    .loader {
      display: block;
    }

    .list {
      opacity: 0;
    }
  }
}

.loader {
  display: none;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.header {
  color: $color-text-dark;
  padding: 0 rem(20px) rem(20px);
}

.heading {
  @include font-size($font-size-normal);
}

.heading,
.list {
  opacity: 1;
  transition: 1s opacity ease;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.list-item {
  border-bottom: 1px solid $color-border;

  &:first-child {
    border-top: 1px solid $color-border;
  }
}

@keyframes socialStream {
  from {
    transform: scaleY(0);
  }

  to {
    transform: scaleY(1);
  }
}
