@import './variables';
@import './mixins';

::selection {
  background: $color-accent-light;
}

html,
body {
  height: 100%;
}

html {
  font-size: 100%;
}

body {
  @include font-size($font-size-normal);
  background-color: var(--color-body-background);
  color: $color-text;
  font-family: $font-family;
}

h1,
h2,
h3 {
  font-weight: $font-weight-bold;
}

h1 {
  @include font-size($font-size-heading1);
}

a {
  color: $color-text-variant;
  font-weight: $font-weight-bold;
  position: relative;
  text-decoration: none;

  &::after {
    background: $color-accent-gradient;
    bottom: 0;
    content: "";
    height: 8px;
    left: 0;
    position: absolute;
    transform: scaleY(0.1);
    transform-origin: bottom;
    transition: 0.3s transform ease;
    width: 100%;
    will-change: transform;
    z-index: -1;
  }

  &:hover::after,
  &:focus::after {
    transform: scaleY(1);
  }
}
