.Avatar {
  max-width: rem(160px);
  overflow: hidden;
  border-radius: 2px;
  box-shadow: inset 0 0 2px $color-shadow;

  &:hover .Avatar-image {
    transform: scale(1.1);
  }
}

.Avatar-image {
  display: block;
  position: relative;
  z-index: -1;
  width: 100%;
  transition: 2s transform ease;
}
