.Biography {
  @include section();
}

.Biography-avatar {
  margin-bottom: rem(24px);
}

.Biography-name {
  margin: 0 0 rem(8px) 0;
  color: $color-text-dark;
}

.Biography-role,
.Biography-work {
  margin: 0;
  @include font-size(18px);
}
