.Loader {
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid transparent;
  border-radius: 50%;
  border-top: 1px solid $color-grey-light;
  content: "";
  animation: 0.5s loader linear infinite;
}

@keyframes loader {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
