.Profile-avatar {
  margin-bottom: rem(24px);
}

.Profile-name {
  margin: 0 0 rem(8px) 0;
  color: $color-text-dark;
}

.Profile-role,
.Profile-work {
  @include font-size($font-size-normal);
  margin: 0;
}
